.bgcolor {
    background: #00A780;
    padding-top: 10px;
    color: white;
    position: sticky;
    top: -50px;
}
.topdiv {
    margin-bottom: 15px;
}
.iconbar {
    float: right;
    font-size: 19px;
}
.whats {
    font-size: 21px;
}
a:hover {
    color: #b3e5df;
    text-decoration: none;
}
.menudiv {
    display: flex;
    padding-bottom: 5px;
}
.camera {
    font-size: 17px;
    color: #B3E5DF;
    padding-right: 10px;
}
.whatbtn {
  color: #B3E5DF;
  padding: 0px 13px 0px 10px;
  font-weight: 600;
}
.active {
    border-bottom: 3px solid;
    padding-bottom: 6px;
    color: white;
}
.messgesicon {
    background: #ffffff;
    padding: 0px 6px;
    border-radius: 38px;
    text-align: center;
    color: #00a780;
    font-size: 14px;
}
.chatsmena {
    display: flex;
    padding: 15px 0px 5px 0px;
}
.image {
    border-radius: 40px;
    width: 50px;
    margin-right: 15px;
}
.chatname {
    width: 81%;
}
.name {
    font-weight: 700;
    font-size: 17px;
}
.time {
    float: right;
    font-size: 12px;
    color: #686E6F;
}
.time1 {
    float: right;
    font-size: 12px;
    color: #2AC663;
}
.chatstext {
    font-size: 14px;
    color: #686E6F;
}
.messges {
    background: #2AC663;
    padding: 0px 7px;
    border-radius: 38px;
    text-align: center;
    color: white;
    font-size: 14px;
    float: right;
}
.textbox {
    /* overflow: hidden; */
    height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
}
.fafa {
    color: red;
}
.messcomm {
    background: #00a780;
    color: white;
    border-radius: 50%;
    padding: 10px 15px;
    bottom: 25px;
    right: 25px;
    position: fixed;
    z-index: 999;
    font-size: 20px;
}
.messpen {
    background: #e2ebe9;
    color: #686e6f;
    border-radius: 50%;
    padding: 7px 12px;
    bottom: 85px;
    right: 27px;
    position: fixed;
    z-index: 999;
    font-size: 20px;
    box-shadow: 5px 3px 9px 1px #ccc;
}
.plus {
    position: absolute;
    background: #00a780;
    border-radius: 50%;
    border: 2px solid white;
    padding: 0px 5px;
    color: white;
    margin: 25px 0px 0px 30px;
}
.callsicon {
    float: right;
    font-size: 16px;
    color: #00a780;
    padding-top: 15px;
}
.upicon {
    font-size: 16px;
    color: #00a780;
}
.errordownicon {
    font-size: 16px;
    color: red;
}
.downicon {
    font-size: 16px;
    color: #00a780;
}
